---
const site = 'https://mindyourdecisions.com/blog/wp-json/wp/v2/posts';
const res = await fetch(site);
const posts = await res.json();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>New page to test routing</title>
	</head>
	<body>
		<h1>Maw!! 🚀</h1>
		{
		  posts.map((post) => (
		      <h2 set:html={post.title.rendered} />
		      <p set:html={post.content.rendered} />
		  ))
		}
	</body>
</html>
